html {
  background: url(male-unicorns.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: opacity(50%);
}
h1 {
  text-align: center;
  border-radius: 100px;
  font-family: "Courier New" , Courier, monospace;
  color: white;
}
body {
  text-align: center;
}
ul {
  list-style: square outside none;
}
.list {
  font-family: "Courier New" , Courier, monospace;
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius: 100px;
}
.shoes {
  font-family: "Courier New" , Courier, monospace;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-allign: center;
  border-radius: 15px;
  border: solid 15px white;
}
a:link, a:visited {
  color: white;
}
a:hover {
  color: black;
  text-decoration: underline;
}
.round {
  border: solid;
  display: inline-block;
}
  
